<footer class="footer">
  <small>
    The<a herf="https://railstutorial.jp/">Ruby on Rails TUtorial</a>
    by<a herf="https://www.micheallhartl.com/">Micheal Hartl</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>
